<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="eduRoom">
	<select id="getEduRoomList" resultType="com.gsitm.common.dto.EducationRoomDTO">
		SELECT EDU_SEQ, EDU_CODE, EDU_NAME, EDU_SIZE, EDU_PRICE, EDU_AVAIL, EDU_DESCRIPTION, WORK_SEQ, WORK_CODE 
		FROM nkep_11.TB_EDU_ROOM
	</select>
	<select id="getByteEduImage" parameterType="eduRoom" resultType="java.util.Map">
		SELECT EDU_IMG AS IMG FROM nkep_11.TB_EDU_ROOM WHERE EDU_SEQ=#{eduSeq}
	</select>
</mapper>














