<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->

<mapper namespace="member">
	
	<resultMap type="com.gsitm.common.dto.TeamDTO" id="teamDTO" />
	<resultMap type="com.gsitm.common.dto.EmployeeDTO" id="empDTO" />
	
	<!-- login -->
	<select id="loginCheck" resultType="int" parameterType="empDTO">
		SELECT COUNT(*)
		FROM nkep_11.TB_EMPLOYEE
		WHERE EMP_ID = #{empId}
		AND EMP_PW = #{empPw}
	</select>
	
	<select id="empInfo" resultType="empDTO" parameterType="String">
		SELECT EMP_ID, EMP_NAME, ROLE, TEAM_SEQ, BLACK_YN
		FROM nkep_11.TB_EMPLOYEE
		WHERE EMP_ID = #{empId}
	</select>
	
	<!-- 팀 정보 -->
	<select id="showTeamInfo" resultType="teamDTO" parameterType="String">
		SELECT TEAM.TEAM_SEQ, TEAM.TEAM_NAME, TEAM.BOSS_ID, TEAM.BUDGET
		  FROM nkep_11.TB_EMPLOYEE EMP
		  LEFT JOIN nkep_11.TB_TEAM TEAM
		    ON EMP.TEAM_SEQ = TEAM.TEAM_SEQ
		 WHERE EMP.EMP_ID = #{empId}
	</select>
	
	<select id="showTeamMember" resultType="empDTO" parameterType="String">
		SELECT EMP.EMP_ID, EMP.EMP_NAME, EMP.EMAIL, BLACK_YN
		  FROM nkep_11.TB_EMPLOYEE EMP
		  LEFT JOIN nkep_11.TB_TEAM TEAM
		    ON EMP.TEAM_SEQ = TEAM.TEAM_SEQ
		 WHERE EMP.TEAM_SEQ = #{teamSeq}
	</select>
	
	<select  id="memCount" resultType="int" parameterType="String">
		SELECT COUNT(*)
		  FROM nkep_11.TB_EMPLOYEE
		 WHERE TEAM_SEQ = #{teamSeq}
	</select>
	
	<select id="allMemberListAjax" resultType="empDTO">
		SELECT E.*, T.TEAM_NAME
		  FROM nkep_11.TB_EMPLOYEE E
		  LEFT JOIN nkep_11.TB_TEAM T
		    ON E.TEAM_SEQ = T.TEAM_SEQ
		 WHERE E.EMAIL IS NOT NULL
	</select>
	
	<!--동길 : 관리자페이지 권한관리 부분  -->
	<select id="getWorkSpaceListForAdmin" parameterType="empDTO" resultType="empDTO">
		SELECT EMP_ID, EMP_NAME, ROLE, TEAM_SEQ, EMAIL 
		FROM nkep_11.TB_EMPLOYEE
		WHERE ROLE IN ('E_MGR','S_MGR','M_MGR')
	</select>
	
	<select id="getNormalForAdmin" parameterType="empDTO" resultType="empDTO">
		SELECT EMP_ID, EMP_NAME, ROLE, TEAM_SEQ, EMAIL 
		FROM nkep_11.TB_EMPLOYEE
		WHERE ROLE NOT IN ('E_MGR','S_MGR','M_MGR');
	</select>
	
	<update id="changeEmpMgrToNormal" parameterType="empDTO">
		UPDATE nkep_11.TB_EMPLOYEE SET ROLE='USER' WHERE EMP_ID = #{empId}
	</update>
	<update id="changeEmpNormalToMgr">
		UPDATE nkep_11.TB_EMPLOYEE SET ROLE=#{role} WHERE EMP_ID = #{empId}
	</update>
	
	<select id="getEmployeeByManySabun" parameterType="java.util.HashMap" resultType="empDTO">
		SELECT EMP_ID,EMP_PW,EMP_NAME,TEAM_SEQ,EMAIL
		FROM nkep_11.TB_EMPLOYEE
	<choose>
            <when test="empId_list.size != 0">
                WHERE EMP_ID IN
                <foreach collection="empId_list" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </when>
        </choose>
	</select>
	
	<select id="getTeamBossByid" parameterType="java.lang.String" resultType="empDTO">
		SELECT EMP_ID,EMP_NAME,EMAIL,TEAM_SEQ
		FROM nkep_11.TB_EMPLOYEE
		WHERE EMP_ID = #{id}
	</select>
	
	<update id="updateBlackList" parameterType="String">
		UPDATE nkep_11.TB_EMPLOYEE
		   SET BLACK_YN = 'Y'
		 WHERE EMP_ID = #{empId}
	</update>
</mapper>














 