<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="mtRoom">
	<cache eviction="FIFO" flushInterval="60000" size="512"
		readOnly="true" />
	<resultMap id="mtRoom" type="com.gsitm.common.dto.MeetingRoomDTO" />
	<select id="getMtRoomList" resultType="com.gsitm.common.dto.MeetingRoomDTO" parameterType="String">
		SELECT MT_SEQ, MT_CODE, MT_NAME, MT_SIZE, MT_PRICE, MT_AVAIL, MT_DESCRIPTION, WORK_SEQ, WORK_CODE 
		FROM nkep_11.TB_MT_ROOM
		<if test="workSeq != null">
			WHERE WORK_SEQ = #{workSeq}
		</if>
	</select>
	<select id="getByteMtImage" parameterType="mtRoom" resultType="java.util.Map">
		SELECT MT_IMG AS IMG FROM nkep_11.TB_MT_ROOM WHERE MT_SEQ=#{mtSeq}
	</select>
	
	<insert id="insertMeetingRoomForAdmin" parameterType="mtRoom">
		INSERT INTO nkep_11.TB_MT_ROOM(MT_NAME,MT_SIZE,MT_PRICE,MT_AVAIL,MT_DESCRIPTION,WORK_SEQ,WORK_CODE,
		MT_IMG,MT_IMG2,MT_IMG3) values(#{mtName},#{mtSize},#{mtPrice},#{mtAvail},#{mtDescription},#{workSeq},#{workCode},
		#{mtImg},#{mtImg2},#{mtImg3});
	</insert>
	
	<select id="getByteMeetingRoomImage" parameterType="mtRoom" resultType="java.util.Map">
		SELECT MT_IMG AS IMG FROM nkep_11.TB_MT_ROOM WHERE MT_SEQ=#{mtSeq}
	</select>
	
	<select id="getAnyRoomInfo" parameterType="String" resultType="mtRoom">
		SELECT MT_PRICE, MT_AVAIL, MT_NAME, MT_SEQ, MT_DESCRIPTION
		  FROM nkep_11.TB_MT_ROOM
		 WHERE MT_CODE = #{roomSeq}
	</select>
	
	<select id="getByteMeetingRoomImage2" parameterType="mtRoom" resultType="java.util.Map">
		SELECT MT_IMG2 AS IMG FROM nkep_11.TB_MT_ROOM WHERE MT_SEQ=#{mtSeq}
	</select>
	<select id="getByteMeetingRoomImage3" parameterType="mtRoom" resultType="java.util.Map">
		SELECT MT_IMG3 AS IMG FROM nkep_11.TB_MT_ROOM WHERE MT_SEQ=#{mtSeq}
	</select>
	<select id="getMeetingRoomByMtSeq" parameterType="mtRoom" resultType="com.gsitm.common.dto.MeetingRoomPlusWSNameDTO">
		SELECT MT_SEQ, MT_CODE, MT_NAME, MT_SIZE, MT_PRICE, MT_AVAIL, MT_DESCRIPTION,MT_AVAIL_STIME,MT_AVAIL_ETIME,
	MT.WORK_SEQ, MT.WORK_CODE, WORK_NAME
		FROM nkep_11.TB_MT_ROOM MT, nkep_11.TB_WORKSPACE WS
		WHERE MT.WORK_SEQ = WS.WORK_SEQ AND MT_SEQ = #{mtSeq}
	</select>
	
	<update id="updateMtRoomNotIncludePic" parameterType="mtRoom">
		UPDATE nkep_11.TB_MT_ROOM SET MT_NAME = #{mtName}, MT_AVAIL = #{mtAvail}, MT_SIZE = #{mtSize}, MT_DESCRIPTION = #{mtDescription},MT_PRICE =#{mtPrice},
			MT_IMG = NULL, MT_IMG2= NULL, MT_IMG3 = NULL
		WHERE MT_SEQ = #{mtSeq}
	</update>
	<update id="updateMtRoomIncludePic" parameterType="mtRoom">
		UPDATE nkep_11.TB_MT_ROOM SET MT_NAME = #{mtName}, MT_AVAIL = #{mtAvail}, MT_SIZE = #{mtSize}, MT_DESCRIPTION = #{mtDescription},MT_PRICE =#{mtPrice},
			MT_IMG = #{mtImg}, MT_IMG2= #{mtImg2}, MT_IMG3 = #{mtImg3}
		WHERE MT_SEQ = #{mtSeq}
	</update>
	
	<delete id="deleteMtRoomForAdmin" parameterType="mtRoom">
		DELETE FROM nkep_11.TB_MT_ROOM WHERE MT_SEQ = #{mtSeq}
	</delete>
	
	<select id="getMtRoomByWorkSeq" parameterType="mtRoom" resultType="mtRoom">
		SELECT MT_SEQ, MT_CODE, MT_NAME, MT_SIZE, MT_PRICE, MT_AVAIL, MT_DESCRIPTION, WORK_SEQ, WORK_CODE,MT_AVAIL_STIME, MT_AVAIL_ETIME 
		FROM nkep_11.TB_MT_ROOM
		WHERE WORK_SEQ = #{workSeq}
	</select>
</mapper>














