<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="mtRoom">
	<select id="getMtRoomList" resultType="com.gsitm.common.dto.MeetingRoomDTO" parameterType="com.gsitm.common.dto.WorkSpaceDTO">
		SELECT MT_SEQ, MT_CODE, MT_NAME, MT_SIZE, MT_PRICE, MT_AVAIL, MT_DESCRIPTION, WORK_SEQ, WORK_CODE 
		FROM nkep_11.TB_MT_ROOM
	</select>
	<select id="getByteMtImage" parameterType="mtRoom" resultType="java.util.Map">
		SELECT MT_IMG AS IMG FROM nkep_11.TB_MT_ROOM WHERE MT_SEQ=#{mtSeq}
	</select>
</mapper>














