<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
	  <setting name="cacheEnabled" value="true"/>
	  <setting name="multipleResultSetsEnabled" value="true"/>
	  <setting name="defaultStatementTimeout" value="25"/>
	  <setting name="autoMappingBehavior" value="PARTIAL"/>
   	  <setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	<typeAliases>
		<typeAlias type="com.gsitm.common.dto.ResvDTO" alias="resv"/>
		<typeAlias type="com.gsitm.common.dto.TeamDTO" alias="teamDTO"/>
		<typeAlias type="com.gsitm.common.dto.EmployeeDTO" alias="empDTO"/>
		<typeAlias type="com.gsitm.common.dto.MeetingRoomDTO" alias="mtRoom"/>
		<typeAlias type="com.gsitm.common.dto.EducationRoomDTO" alias="eduRoom"/>
		<typeAlias type="com.gsitm.common.dto.BlackListLogDTO" alias="blkDTO"/>
		<typeAlias type="com.gsitm.common.dto.ResvUserInfoDTO" alias="rDTO"/>
		<typeAlias type="com.gsitm.common.dto.ResvItemInfoDTO" alias="riDTO"/>
		<typeAlias type="com.gsitm.common.dto.ResvConfirmInfoDTO" alias="rcDTO"/>
		<typeAlias type="com.gsitm.common.dto.WorkSpaceDTO" alias="workSpace"/>
		<typeAlias type="com.gsitm.common.dto.NoticeDTO" alias="notice"/>
		<typeAlias type="com.gsitm.common.dto.LogWSDeleteDTO" alias="wsDLog"/>
		<typeAlias type="com.gsitm.common.dto.ItemDTO" alias="itemDTO"/>
		<typeAlias type="com.gsitm.common.dto.ConfirmDTO" alias="confirmDTO"/>
		<typeAlias type="com.gsitm.common.dto.ResvDetailDTO" alias="resvDetailDTO"/>
		<typeAlias type="com.gsitm.common.dto.StockDTO" alias="stockDTO"/>
		<typeAlias type="com.gsitm.common.dto.ItemStockByWorkSpaceDTO" alias="itemStockWorkspace"/>
		<typeAlias type="com.gsitm.common.dto.InsertResvDTO" alias="resvInsert"/>
		<typeAlias type="com.gsitm.common.dto.ResvItemDTO" alias="resvItemDTO"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/workSpaceMapper.xml"></mapper>
		<mapper resource="mappers/MtRoomMapper.xml"></mapper>
		<mapper resource="mappers/EduRoomMapper.xml"></mapper>
		<mapper resource="mappers/BlackList.xml"></mapper>
		<mapper resource="mappers/MemberMapper.xml"></mapper>
		<mapper resource="mappers/resv/resvMapper.xml"></mapper>
		<mapper resource="mappers/noticeMapper.xml"></mapper>
		<mapper resource="mappers/itemMapper.xml"/>
		<mapper resource="mappers/stockMapper.xml"/>
	</mappers>

</configuration>