<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<!-- 쿼리문 교체-->
<mapper namespace="resv">
	
	<resultMap type="com.gsitm.common.dto.ResvDTO" id="resvresvresv" />
	<resultMap type="com.gsitm.common.dto.ResvItemInfoDTO" id="riDTO" />
	<resultMap type="com.gsitm.common.dto.ResvConfirmInfoDTO" id="rcDTO" />
	<resultMap type="com.gsitm.common.dto.ResvUserInfoDTO" id="ruDTO" />

	<insert id="insert">
		INSERT INTO nkep_11.TB_RESERVATION
		(RSV_SEQ, RSV_CNT, RSV_DATE, RSV_FDATE, ROOM_SEQ, RSV_PRICE) 
		VALUES (#{rsvSeq}, #{rsvCnt}, #{rsvDate}, #{rsvFdate}, #{roomSeq}, #{rsvPrice});
	</insert>
	
	<select id="showResvUserList" resultMap="ruDTO" parameterType="String" statementType="PREPARED">
		SELECT R.RSV_SEQ
					 , RU.APPL_YN
					 , RU.USE_ID
					 , E.EMP_NAME
					 , E.EMAIL
					 , T.TEAM_NAME
		  FROM nkep_11.TB_RESERVATION R
		  LEFT JOIN nkep_11.TB_RSV_DETAIL RU
		    ON R.RSV_SEQ = RU.RSV_SEQ
		  LEFT JOIN nkep_11.TB_EMPLOYEE E
		    ON RU.USE_ID = E.EMP_ID
		  LEFT JOIN nkep_11.TB_TEAM T
		    ON E.TEAM_SEQ = T.TEAM_SEQ
		 WHERE R.RSV_SEQ = #{rsvSeq}
	</select>
	
	<select id="showResvItemList" resultMap="riDTO" parameterType="String" statementType="PREPARED">
		SELECT R.RSV_SEQ
					 , I.ITEM_NAME
					 , IR.ITEM_CNT
		  FROM nkep_11.TB_RESERVATION R
		  LEFT JOIN nkep_11.TB_RSV_ITEM IR
		    ON R.RSV_SEQ = IR.RSV_SEQ
		  LEFT JOIN nkep_11.TB_ITEM I
		    ON IR.ITEM_CODE = I.ITEM_CODE
		 WHERE R.RSV_SEQ = #{rsvSeq}
	</select>
	
	<select id="showResvConfirmList" resultMap="rcDTO" parameterType="String" statementType="PREPARED">
		SELECT R.RSV_SEQ
					 , C.MGR_YN
					 , IF(R.ROOM_TYPE = 'E', CONCAT(WE.WORK_NAME,'-',ED.EDU_NAME), CONCAT(WM.WORK_NAME,'-',MT.MT_NAME)) AS ROOM_NAME
					 , R.RSV_PRICE
					 , R.APPLICANT
		  FROM nkep_11.TB_RESERVATION R
		  LEFT JOIN nkep_11.TB_CONFIRM C
		    ON R.RSV_SEQ = C.RSV_SEQ
		  LEFT JOIN nkep_11.TB_MT_ROOM MT
		    ON R.ROOM_SEQ = MT.MT_CODE
		  LEFT JOIN nkep_11.TB_EDU_ROOM ED
		    ON R.ROOM_SEQ = ED.EDU_CODE
		  LEFT JOIN nkep_11.TB_WORKSPACE WM
		    ON MT.WORK_CODE = WM.WORK_CODE
		  LEFT JOIN nkep_11.TB_WORKSPACE WE
		    ON ED.WORK_CODE = WE.WORK_CODE
		 WHERE R.RSV_SEQ IN (SELECT R.RSV_SEQ
		 										 	 FROM nkep_11.TB_RESERVATION R
		 											 LEFT JOIN nkep_11.TB_RSV_DETAIL RU
		 											   ON R.RSV_SEQ = RU.RSV_SEQ
		 										  WHERE RU.USE_ID = #{empId})
	</select>
	
	<select id="showResvDetail" resultMap="rcDTO" parameterType="String" statementType="PREPARED">
		SELECT R.RSV_SEQ
					 , C.CON_SEQ
					 , C.BOSS_YN
					 , C.MGR_YN
					 , IF(R.RSV_TYPE = 'L', DATE_FORMAT(R.RSV_DATE, '%Y/%m/%d'),DATE_FORMAT(R.RSV_DATE, '%Y/%m/%d %H:%i')) AS RSV_DATE
					 , IF(R.RSV_TYPE = 'L', DATE_FORMAT(R.RSV_FDATE, '%Y/%m/%d'),DATE_FORMAT(R.RSV_FDATE, '%H:%i')) AS RSV_FDATE
					 , IF(R.ROOM_TYPE = 'E', CONCAT(WE.WORK_NAME,'-',ED.EDU_NAME), CONCAT(WM.WORK_NAME,'-',MT.MT_NAME)) AS ROOM_NAME
					 , R.RSV_PRICE
					 , R.APPLICANT
					 , C.REJECT
		  FROM nkep_11.TB_RESERVATION R
		  LEFT JOIN nkep_11.TB_CONFIRM C
		    ON R.RSV_SEQ = C.RSV_SEQ
		  LEFT JOIN nkep_11.TB_MT_ROOM MT
		    ON R.ROOM_SEQ = MT.MT_CODE
		  LEFT JOIN nkep_11.TB_EDU_ROOM ED
		    ON R.ROOM_SEQ = ED.EDU_CODE
		  LEFT JOIN nkep_11.TB_WORKSPACE WM
		    ON MT.WORK_CODE = WM.WORK_CODE
		  LEFT JOIN nkep_11.TB_WORKSPACE WE
		    ON ED.WORK_CODE = WE.WORK_CODE
		 WHERE R.RSV_SEQ = #{rsvSeq}
	</select>

	<select id="resvCount" resultType="int" parameterType="String" statementType="PREPARED">
		SELECT COUNT(*)
			FROM nkep_11.TB_RSV_DETAIL
		 WHERE USE_ID = #{empId}
	</select>
	
	<select id="getResvShortInfoByDate" resultMap="resvresvresv" parameterType="Map" statementType="PREPARED">
		<![CDATA[
		SELECT IF(RSV_TYPE = 'S', DATE_FORMAT(RSV_DATE, '%H%i'), '0900') AS RSV_DATE
           , IF(RSV_TYPE = 'S', DATE_FORMAT(RSV_FDATE, '%H%i'), '2230') AS RSV_FDATE
           , RSV_SEQ
           , WORK_SEQ
           , RSV_TYPE
		  FROM nkep_11.TB_RESERVATION
		 WHERE DATE_FORMAT(RSV_DATE, '%Y-%m-%d') <= #{selDate}
		 	 AND DATE_FORMAT(RSV_FDATE, '%Y-%m-%d') >= #{selDate}
		 	 AND ROOM_SEQ = #{roomSeq}
		]]>
	</select>
	
	<select id="getResvLongInfoByDate" resultMap="resvresvresv" parameterType="Map" statementType="PREPARED">
		<![CDATA[
		SELECT DATE_FORMAT(RSV_DATE, '%Y-%m-%d') AS RSV_DATE
           , DATE_FORMAT(RSV_FDATE, '%Y-%m-%d') AS RSV_FDATE 
		  FROM nkep_11.TB_RESERVATION
		 WHERE DATE_FORMAT(RSV_DATE, '%Y-%m') <= #{selDate}
		 	 AND DATE_FORMAT(RSV_FDATE, '%Y-%m') >= #{selDate}
		 	 AND ROOM_SEQ = #{roomSeq}
		]]>
	</select>
	
	<select id="roomItemListCheckByRoomSeqAjax" resultMap="riDTO" parameterType="String" statementType="PREPARED">
		<![CDATA[
		SELECT I.ITEM_NAME
					 , I.ITEM_UNIT
					 , I.ITEM_TYPE
					 , I.ITEM_SEQ
		  FROM nkep_11.TB_STOCK S
		  LEFT JOIN nkep_11.TB_ITEM I
		    ON S.ITEM_SEQ = I.ITEM_SEQ
		 WHERE S.WORK_SEQ = #{workSeq}
		   AND S.ST_CNT > 0
		 ORDER BY I.ITEM_TYPE
		 ]]>
	</select>
	

</mapper>














