<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="resv">

	<insert id="insert">
		INSERT INTO nkep_11.TB_RESERVATION
		(RSV_SEQ, RSV_CNT, RSV_DATE, RSV_FDATE, ROOM_SEQ, RSV_PRICE) 
		VALUES (#{rsvSeq}, #{rsvCnt}, #{rsvDate}, #{rsvFdate}, #{roomSeq}, #{rsvPrice});
	</insert>

</mapper>














